<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div id="home-row-two" class="row gutter-1-5 d-padding-top-4 d-padding-bottom-4 m-padding-top-2 m-padding-bottom-2">
                <div class="stellar-background">
                    <div class="background-layer" style="background-image: linear-gradient( 120deg, #599bae  0%, #9a5d68 100%);"></div>
                </div>
                <div class="container" style="margin-top: -50px;    margin-bottom: -50px;">
                    <h1 style="text-align:center; color:white; padding-bottom:40px">About Us</h1>
                    <div id="home-row-two-left" class="column two-thirds">
                        <div id="brightfire_bucket_widget-3" class="full-width offset-none text-color-light text-weight-light margin-bottom-1 widget brightfire-bucket-widget">
                            <div class="bucket-widget-block padding-bottom-1 heading-weight-regular bf-bucket-heading" style="padding-bottom:10px">
                                <h2><b>JAGAD INSURANCE</b></h2>
                            </div>

                        </div>
                        <div id="bf_cpc-13" class="full-width offset-none text-color-light text-size-medium m-padding-bottom-1 widget widget_bf_cpc">
                            <div class="post-2042 page type-page status-publish hentry bf-cpc-content">
                                <p style="text-align:justify;font-size:18px">DR. Jitendra D Jagad started working in insurance industry on 24/03/1998. So we are completed our 21 years of services this year.</p>
                                <p style="text-align:justify;font-size:18px">Our moto is to provide best services to our client with affordable rate.</p>
                                <p style="text-align:justify;font-size:18px">We provide only correct solution from where our valuable customer get benefit</p>
                                <ul style="font-size:16px">
                                    <li style="text-align:justify">We also developed our android application for the client service. You can find app in play store by searching "Jagad Insurance" or <a href="https://goo.gl/KduHui" style="color:white" target="_blank">Click Here</a></li>
                                    <li style="text-align:justify">We believe in providing client based solution for the insurance requirements of our clients.</li>
                                    <li style="text-align:justify">We provide complete guidance right from the issuance of the policy till the settlement of the claims. We have achieved enduring success through our superior services, well managed operations &amp; strategically planned growth.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="home-row-two-right" class="column one-third">
                        <div id="brightfire_bucket_widget-21" class="full-width offset-none text-align-center text-color-light widget brightfire-bucket-widget">
                            <div class="bucket-widget-block margin-bottom-0-5 bf-bucket-image">
                                <div class="image-full">
                                    <img src="Themes/Images/vivek.jpg" alt="" sizes="(min-width: 768px) 100vw, 100vw">
                                </div>
                            </div>
                            <div class="bucket-widget-block  bf-bucket-text">Vivek Jagad</div>

                        </div>
                    </div>
                </div>
            </div>

</section>
</body>
</html>