<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link id="stellar-google-fonts" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700|Lato:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
    <title>{% block title %} Health Insurance {% endblock title %}</title>

</head>
<body>
{% block body %}
<div class="container">
                        <div id="row-1493645250-left" class="column full-width">
                            <div id="bf_cpc-19" class="full-width offset-none  d- m- m-padding-left-1 m-padding-right-1 widget widget_bf_cpc">
                                <div class="post-146 page type-page status-publish hentry bf-cpc-title">
                                    <h1 class="page-title">Health Insurance</h1>
                                </div>
                            </div>
                        </div>
                    </div>



                            <div id="bf_cpc-5" class="full-width offset-none  d- m-margin-bottom-2 d-text-size-medium m-padding-left-1 m-padding-right-1 widget widget_bf_cpc">
                                <div class="post-146 page type-page status-publish hentry bf-cpc-content">
                                    <p>Life is a surprise package of happiness and challenges. Sudden illnesses, accidental injuries and medical emergencies can throw us off guard anytime. While they drain us emotionally, the hospitalization and medicinal expenses can also burn a big hole in your pocket, owing to the soaring prices of medical services.</p>

                                    <p><b>A good health insurance policy is mandatory to</b></p>

                                    <ul>
                                        <li>Combat sudden financial burden due to medical emergencies</li>
                                        <li>Get peace of mind and assurance</li>
                                        <li>Be able to focus on the healing and recovery of yourself and your loved ones</li>
                                    </ul>

                                </div>
                            </div>

                        <div class="w-full px-3 mb-5">
                            <button class="block w-full max-w-xs mx-auto bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold">Compare Now</button>
                        </div>

{% endblock body %}
</body>
</html>