<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
    <title>{% block title %} Health Insurance {% endblock title %}</title>

</head>
<body>
{% block body %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">Health Insurance</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Benefits of Health Insurance</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Life is a surprise package of happiness and challenges. Sudden illnesses, accidental injuries and medical emergencies can throw us off guard anytime. While they drain us emotionally, the hospitalization and medicinal expenses can also burn a big hole in your pocket, owing to the soaring prices of medical services.</p>
    <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"><a href="/HealthInsuranceCalculator">Compare Now</a></button>
    </div>

      <div class="flex flex-wrap">
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <img alt="Financial Stability" src="https://static.insurancedekho.com/pwa/img/comprehensive.svg" data-lazy="true" data-servewebp="true" class="py-4">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Financial Stability</h2>
        <p class="leading-relaxed text-base mb-4">A health insurance plan provides you with financial stability during medical emergencies which may involve huge healthcare costs. A health insurance plan offers coverage for expenses incurred during in-patient hospitalization along with that incurred pre & post-hospitalization up to the promised sum insured.</p>
        <a class="text-indigo-500 inline-flex items-center">Read More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <img alt="Peace of Mind" src="https://static.insurancedekho.com/pwa/img/thirdparty.svg" data-lazy="true" data-servewebp="true" class="py-4">
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Peace of Mind</h2>
        <p class="leading-relaxed text-base mb-4">A health insurance plan helps you maintain peace of mind by taking care of all financial needs related to the medication.</p>
        <a class="text-indigo-500 inline-flex items-center">Read More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <img alt="Timely and Good Quality Medical Treatment" src="https://static.insurancedekho.com/pwa/img/carinsurancepolicy.svg" data-lazy="true" data-servewebp="true" class="py-4">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Timely and Good Quality Medical Treatment</h2>
        <p class="leading-relaxed text-base mb-4">A health insurance plan helps you in getting timely and good quality medical treatment. Insurance companies have tie-ups with hospitals where you can get medical treatment in a cashless manner without any paperwork or any other hassle.</p>
        <a class="text-indigo-500 inline-flex items-center">Read More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <img alt="Tax Benefits" src="https://static.insurancedekho.com/pwa/img/endorsement.svg" data-lazy="true" data-servewebp="true" class="py-4">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Tax Benefits</h2>
        <p class="leading-relaxed text-base mb-4">The premium paid for a health insurance plan qualifies for a tax deduction of up to Rs. 25,000 and Rs. 50,000 for individuals below 60 years of age and individuals above 60 years respectively under Section 80D of the Income Tax Act.</p>
        <a class="text-indigo-500 inline-flex items-center">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>

</section>
{% endblock body %}
</body>
</html>