<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Health Insurance {% endblock title %}</title>

</head>

<body>
{% block body %}
<section class="text-gray-600 body-font">

<div class="bg-white lg:w-4/12 md:6/12 w-10/12 m-auto my-10 shadow-md">
  <form action="/HealthInsuranceCalc" method="post" class="mt-6">
      {% csrf_token %}
      <div class="py-8 px-8 rounded-xl">
          <div class="text-center mb-10">
                    <p>Your health Premium comparison is just a click away !</p>
                    <div class="py-8">
                        <input type="radio" id="FamilyIndividual" name="family" value="FamilyIndividual">
                        <span class="px-4">Family Individual</span>
                        <input type="radio" id="FamilyFloater" name="family" value="FamilyFloater">
                        <span class="px-4">Family Floater</span>
                    </div>
                    <div>
                        <input type="radio" id="Regular" name="Top_Up" value="Regular">
                        <span class="px-4">Regular</span>
                        <input type="radio" id="Top Up" name="Top_Up" value="Top Up">
                        <span class="px-4">Top Up</span>
                    </div>
                </div>
          <div class="my-5 text-sm">
                    <div class="flex -mx-1">
                        <div class="w-full px-3 mb-4">
                            <label for="dob" class="text-xs font-semibold px-1">Date of Birth</label>
                            <div class="flex">
                                <div class="px-4"></div>
                                <input type="date" id="dob" name="dob" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500">
                            </div>
                        </div>
                    </div>
                    <div class="flex -mx-1">
                        <div class="w-full px-3 mb-4">
                            <label for="age" class="text-xs font-semibold px-1">Age</label>
                            <div class="flex">
                                <div class="px-4"></div>
                                <input type="text" id="age" name="age" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500">
                            </div>
                        </div>
                    </div>
                    <div class="flex -mx-1">
                        <div class="w-full px-3 mb-4">
                            <label for="premium" class="text-xs font-semibold px-1">Sum Assured</label>
                            <div class="flex">
                                <div class="px-4"></div>
                                <input type="number" id="premium" name="premium" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500">
                            </div>
                        </div>
                    </div>
                    <div class="flex -mx-1">
                        <div class="w-full px-3 mb-4">
                            <div class="flex">
                                <div class="px-4"></div>
                                <input type="submit" id="submit" name="age" class="block text-center text-white w-full bg-purple-800 p-3 duration-300 rounded-sm hover:bg-black -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500">
                            </div>
                        </div>
                    </div>
          </div>
      </div>
  </form>
</div>
</section>
{% endblock body %}
</body>
</html>